include *.in
include *.ini
include setup.md
include *.txt
include LICENSE
include setup.py

global-exclude __pycache__ *.py[cod] *.con

recursive-include py_femas/lib32 *.*
recursive-include py_femas/lib64 *.*

recursive-exclude py_femas/log
exclude test*.py